
.canvas {
  border-style: solid;
}

.board_container {
  display: flex;
  max-width: 1200px;
  margin: auto;
}
.board {
  flex: 1;
}
.color_container {
  flex: 0 0 100px;
}

.color {
  height: 48px;
  width: 48px;
  margin: 4px;
}

.color_active {
  border: 2px solid black;
}

.color_blue {
  background-color: blue;
}
.color_orangered {
  background-color: orangered;
}
.color_yellow {
  background-color: yellow;
}
.color_blueviolet {
  background-color: blueviolet;
}
